#main {
  background-color: orangered;
  text-align: center;
}

#meme-text {
  position: absolute;
  z-index: 1;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#meme-image-container {
  border: 1px solid black;
  background-color: white;
  width: 350px;
  height: 250px;
}

#fire {
  background-color: red
}

#water {
  background-color: blue
}

#earth {
  background-color: green
}