body * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#main {
  padding-top: 10px;
  background-color: snow;
  width: 700px;
  position: relative;
  top: 100px;
  padding-bottom: 10px;
  border-radius: 0 0 5px 5px;
}

body {
  background-color: lightblue;
}


#meme-text {
  position: absolute;
  z-index: 1;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
  max-width: 350px;
  word-wrap: break-word;
  margin: 0;
  bottom: 0;
  text-align: center;
}

#meme-image-container {
  border: 1px solid black;
  background-color: white;
  width: 350px;
  height: 250px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

#fire {
  background-color: red;
  font-size: 20px;
  border-radius: 5px 5px;
  color: white;
}

#water {
  background-color: blue;
  font-size: 20px;
  border-radius: 5px 5px;
  color: white;
}

#earth {
  background-color: green;
  font-size: 20px;
  border-radius: 5px 5px;
  color: white;
}

header h1 {
  margin: 0;
  padding: 10px;
}

#other-memes * {
  display: inline-block;
  width: 80px;
  height: 50px;
  border: 1px solid black;
}

#other-memes {
  margin-top: 10px;
}