body * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#main {
  padding-top: 10px;
  background-color: snow;
  width: 700px;
  position: relative;
  top: 100px;
  padding-bottom: 10px;
  border-radius: 0 0 5px 5px;
}

body {
  background-color: lightblue;
}


#meme-text {
  position: absolute;
  z-index: 1;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#meme-image-container {
  border: 1px solid black;
  background-color: white;
  width: 350px;
  height: 250px;
}

#fire {
  background-color: red
}

#water {
  background-color: blue
}

#earth {
  background-color: green
}

header h1 {
  margin: 0;
  padding: 10px;
}
